body{
    font-family:Arial, Helvetica, sans-serif;
    color: #333;
}

h1{
    font-weight: normal;
    margin: 20px auto;
    text-align: center;
}

form{
    margin: 20px auto;
    width: 500px;
}

input{
    display: block;
    padding: 8px 16px;
    outline: none !important;
    font-size: 2rem;
    box-sizing: border-box;
    border: 3px solid #ccc;
    width: 100%;
    margin: 10px auto ;
    border-radius: 10px;

}

input.valid{
    border-color: green;
}
input.invalid{
    border-color: red;
}